#######################################
# Configurazione programma SE5
#######################################

SECTIONPREFIXON				# Abilita prefisso sezioni

[COL] = ON					# Sezione colori
[SCD] = ON					# Scambio dati

#########################
# Impostazioni generali
#########################

BOOL FastQuit = FALSE		# Esce senza chiedere conferma
BOOL Verbose = FALSE		# Avvio con commenti	-> DA COMPLETARE
STR Titolo = "Test"			# Titolo
FLOAT Opacity = 0.5			# Opacità
INT MinWidth = 300			# Larghezza minima della finestra
BOOL ShowInTaskbar = TRUE	# Mostra nella taskbar
INT FontSize = 10			# Dimensione del font principale. Se 0 o minore, usa quello di sistema

#########################
# Colori
#########################
[COL]
STR bkgnd = "LightCyan"			# Sfondo
STR title = "LightSalmon"		# Barra del titolo
STR status = "PowderBlue"		# Barra di stato
STR buttons = "SkyBlue"			# Pulsanti
[.]

#########################
# Scambio dati
#########################
[SCD]
[.]
