#######################################
# Configurazione programma slave
#######################################

SECTIONPREFIXON				# Abilita prefisso sezioni

[PIPE] = ON					# Scambio dati


#########################
# Scambio dati
#########################
[PIPE]
STR in = "p_out_01" ; "p_out_02"
STR out = "p_in_01" ; "p_in_02" 
BOOL master = FALSE
INT delay = 100				# Cycle delay in ms
### INT timeout = 5000		# in ms
[.]
