#######################################
# Configurazione programma slave
#######################################

SECTIONPREFIXON				# Abilita prefisso sezioni

[PIPE] = ON					# Scambio dati


#########################
# Scambio dati
#########################
[PIPE]
STR in = "pipeout"
STR out = "pipein"
BOOL master = FALSE
[.]
